/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/009/291/987/small/seamless-pattern-of-orange-outline-basketball-ball-on-white-game-team-sports-popular-sport-basket-balls-leather-fitness-healthy-workout-background-hand-drawn-cartoon-flat-illustration-vector.jpg");
  background-repeat: repeat;
  background-size: auto;
}
@font-face {
  font-family: "basket";
  src: url("assets/fonts/Basketball.otf");
}
